/* CSS/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Hiragino Kaku Gothic ProN W3', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* ここからCSSを記述してください */
.container{

}

/*

*{
  box-sizing:border-box;
}

*/

.header-top{
  height:65px;
  background-image:url(http://www010.upp.so-net.ne.jp/yamanami/image/common/wrap_bg.jpg);
  padding:20px 20px;


}

.header-top h1{
  float:left;
}

.header-top p{
  float:right;
}

.fa{
  padding-right:15px;
}

.header-titles{
  height:65px;
  background-color:blue;

}

/*
.header-titles li{
  display:list-item;
  text-align: -webkit-match-parent;
  clear:left;
}
 */

.header-title{
  width:19%;
  height:100%;


}

.top-title{
  width:210px;
  height:;
  display:block;
  padding:5px;
}


.top-titles{
  float:left;
  border-right:1px solid grey;
}

.top-wrapper img{
  width:200px;
}



.top-wrapper{
  height:450px;
  background-color:yellow;
}

.lesson-wrapper{
  height:300px;
  background-color:purple;
}

footer{
  height:100px;

  background-image:url(http://www010.upp.so-net.ne.jp/yamanami/image/common/footerin_bg.jpg);
}


.top-picture{
  position:relative;
}

.top-picture img{
  position:absolute;
  top:10px;
  left:250px;
  width:950px;
  height:380px;
}

.table-top{
  color:white;
  margin-left:30px;
  border: 1.5px solid blue;
  width:700px;
}



.lesson-wrapper img{
  padding:30px;
}
